NODE_ENV="development"
DATABASE_URL="<enter-your-db-url>"
NEXTAUTH_SECRET="<enter-your-auth-secret>"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<enter-your-cloudinary-cloud-name>"
CLOUDINARY_API_KEY="<enter-your-cloudinary-api-key>"
CLOUDINARY_API_SECRET="<enter-your-cloudinary-api-secret>"